body {
  min-height: 100vh;
}

#alert-container > div {
  margin-bottom: 0.75rem;
}

.card-img-top {
  object-fit: cover;
  height: 300px;
}

@media (max-width: 576px) {
  .navbar .btn {
    margin-top: 0.5rem;
  }
}
